
html {
    min-height: 100%;
    height: 100%;
}

body {
    background: $darkgrey;
    min-height: 100%;
    height: 100%;
    color: $white;
    font-family: sans-serif;
}

.App {
    height: 100%;
}


button {
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    margin: 0 3px 0 3px;
    background: $midgrey;
    color: $white;
    border: 0;

    &.success {
        background: $green;
    }

    &.primary {
        background: $blue;
    }

    &.danger {
        background: $red;
    }

    &:hover {
        background: $lightgrey;
    }
}


.divider {
    display: block;
    height: 1px;
    width: 90%;
    background: $midgrey;
    margin: 25px auto 25px auto;
}
