
html {
    min-height: 100%;
    height: 100%;
}

body {
    background: $darkgrey;
    min-height: 100%;
    height: 100%;
    color: $white;
    font-family: sans-serif;
}

.App {
    height: 100%;
}


button {
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    margin: 0 3px 0 3px;
    background: $midgrey;
    color: $white;
    border: 0;
    cursor: pointer;
    transition: 0.1s opacity;

    &.success {
        background: $green;
    }

    &.primary {
        background: $blue;
    }

    &.danger {
        background: $red;
    }

    &:hover {
        background: $lightgrey;
    }

    &:focus {
        outline: 0;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.7;
    }
}


.divider {
    display: block;
    height: 1px;
    width: 90%;
    background: $midgrey;
    margin: 25px auto 25px auto;
}

.loading-icon {
    max-width: 200px;
    display: block;
    margin: 0 auto 0 auto;
}


code {
    background: $midgrey;
    color: #bbb;
}

ul {
    li {
        margin: 0 0 6px -15px;
    }
}
