
.panel {
    display: block;
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 20px;

    &.editor {
        width: 40%;
        position: absolute; top: 0; left: 0;
    }

    &.preview {
        width: 60%;
        position: absolute; top: 0; left: 40%;
    }
}


.panel.editor .the-navbar {
    width: 90%;
    margin: 10px 5% 0 5%;
    display: flex;
    position: absolute; top: 0; left: 0;
    
    a {
        flex: 1;
        color: $darkgrey;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        margin: 0 4px 0 4px;
        background: $white;
        border-radius: 50px;

        &.active {
            background: $blue;
            color: $white;
        }
    }
}


.panel.editor {
    min-height: 100%;
    padding-top: 80px;
    background: $darkgrey;
    border-right: 2px solid $white;
    z-index: 999;
    transition: 0.4s width;

    /*textarea {
        background: $darkgrey;
        border: 1px solid $white;
        color: $white;
        width: 100%;
        min-height: 300px;
        box-sizing: border-box;
        padding: 10px;
        font-family: monospace;
        font-size: 1.1em;
        resize: vertical;

        &:focus {
            outline: 0;
        }
    }*/

    .html-box, .css-box {
        min-height: calc(100% - 50px);
        height: calc(100% - 50px);
    }

    button.submit {
        float: right;
        margin: 10px 0 0 5px;
    }


    &.open {
        width: 100%;
    }
}


.panel.preview {
    min-height: 100%;
    padding: 0;
    position: absolute; top: 0; left: 40%;

    #preview-iframe {
        width: 100%;
        background: rgba(255,255,255,0);
        transition: 0.1s background, 0.1s border;

        &:hover {
            background: rgba(255,255,255,0.1);
            border: 1px solid $white;
        }
    }

    #preview-div {
        min-height: 30px;
    }
}


.settings-page {
    .setting-container {
        width: 100%; max-width: 500px;
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 20px;
        background: $midgrey;
        border-radius: 15px;
        margin: 0 auto 10px auto;

        select, input {
            width: 100%;
            padding: 4px;
            font-size: 14px;
        }
    }
}


.export-page {
    textarea {
        width: 100%;
        min-height: 300px;
        font-size: 14px;
        font-family: monospace;
        display: block;
        margin-top: 10px;
        background: $midgrey;
        color: $white;
        border: 0;
        padding: 5px 8px 5px 8px;
    }
}
