
.panel {
    display: block;
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 20px 20px 70px 20px;

    &.editor {
        width: 40%;
        position: absolute; top: 0; left: 0;
    }

    &.preview {
        width: 60%;
        position: absolute; top: 0; left: 40%;
    }
}


.panel.editor .the-navbar {
    width: 90%;
    margin: 1px 5% 0 5%;
    display: flex;
    position: absolute; top: 0; left: 0;
    
    a {
        flex: 1;
        color: $darkgrey;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        font-size: 15px;
        margin: 0 1px 0 1px;
        background: $white;
        transition: 0.3s flex, 0.2s background, 0.1s color;

        &.active {
            background: $blue;
            color: $white;
            flex: 1.2 $i;
        }

        &.small {
            flex: 0.5;
            font-size: 15px;

            &.active {
                flex: 0.7 $i;
            }
        }
    }
}


.panel.editor {
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 0;
    background: $darkgrey;
    border-right: 2px solid $white;
    z-index: 998;
    transition: 0.4s width;

    .html-box, .css-box {
        min-height: calc(100% - 70px);
        height: calc(100% - 70px);
    }

    button.submit {
        float: right;
        margin: 10px 0 0 5px;
    }

    &.open {
        width: 100% $i;
    }
}


.panel.preview {
    background: #222;
    min-height: 100%;
    padding: 0;
    position: absolute; top: 0; left: 40%;

    #preview-iframe {
        width: 100%;
        background: rgba(255,255,255,0);
        transition: 0.1s background, 0.1s border;

        &:hover {
            background: rgba(255,255,255,0.1);
            border: 1px solid $white;
        }
    }

    #preview-div {
        min-height: 0px;
    }
}


.settings-page { 
    max-width: 720px;
    margin: 0 auto 0 auto;
    padding-bottom: 100px;

    .setting-container {
        width: 100%;
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 20px;
        background: $midgrey;
        border-radius: 15px;
        margin: 0 auto 10px auto;

        select, input {
            width: 100%;
            padding: 4px;
            font-size: 14px;
        }
    }
}

.profile-selector {
    width: 100%; max-width: 720px;
    margin: 0 auto 0 auto;

    .profile-icon {
        width: 100%;
        padding: 8px 15px 8px 12px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        display: grid;
        grid-template-columns: auto 80px;

        &:hover, &.active {
            background: rgba(255,255,255,0.05);

            .title {                
                color: $white;
            }

            .date {
                color: $lightgrey;
            }
        }

        &.active {
            background: rgba(255,255,255,0.1);
        }

        .title {
            min-height: 20px;
            display: block;
            font-size: 2em;
            font-family: monospace;
            color: $lightgrey;
            cursor: pointer;
        }

        .date {
            color: $midgrey;
            font-family: monospace;
        }

        button {
            display: block;
            width: 100%;
            margin-top: 9px;
        }
    }
}


.export-page {
    max-width: 1000px;
    margin: 0 auto 0 auto;

    textarea {
        width: 100%;
        min-height: 300px;
        font-size: 14px;
        font-family: monospace;
        display: block;
        margin-top: 10px;
        background: $midgrey;
        color: $white;
        border: 0;
        padding: 5px 8px 5px 8px;
    }
}

.about-page {
    max-width: 720px;
    margin: 0 auto 0 auto;
}


.page-resizer {
    display: block;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0);
    cursor: ew-resize;
    z-index: 999;
    user-select: none;
    transition: 0.1s background, 0.1s width;
    position: absolute; top: 0; left: 40%;

    &.active {
        width: 20px;
        background: rgba(255,255,255,0.5);
    }
}
