
$darkgrey: #222;
$midgrey: #666;
$lightgrey: #999;
$white: #eee;

$blue: rgb(58, 135, 158);
$green: rgb(58, 158, 91);
$red: rgb(158, 70, 58);


//@import "css/themes/fa.css";
@import "css/general";
@import "css/pages";


// THEMES
.preview {
    //@import "css/themes/main.css";

    &.default {
        @import "css/themes/default";
    }
    &.night {
        @import "css/themes/night";
    }
    &.abyssal-plain {
        @import "css/themes/abyssal-plain";
    }
    &.black-forest {
        @import "css/themes/black-forest";
    }
    &.apis-mellifera {
        @import "css/themes/apis-mellifera";
    }
    &.pink-velvet-cake {
        @import "css/themes/pink-velvet-cake";
    }
}
