
$darkgrey: #222;
$midgrey: #535353;
$lightgrey: #999;
$white: #eee;

$blue: #3a879e;
$green: #3a9e5b;
$red: #9e463a;

$i: !important;


//@import "css/themes/fa.css";
@import "css/general";
@import "css/pages";
