
$darkgrey: #222;
$midgrey: rgb(83, 83, 83);
$lightgrey: #999;
$white: #eee;

$blue: rgb(58, 135, 158);
$green: rgb(58, 158, 91);
$red: rgb(158, 70, 58);

$i: !important;


//@import "css/themes/fa.css";
@import "css/general";
@import "css/pages";
